name: Documentation

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    permissions:
      actions: write # needed to allow julia-actions/cache to proactively delete old caches that it has created
      contents: write
      statuses: write
    steps:
      - uses: actions/checkout@v6

      - uses: julia-actions/setup-julia@v2
      - uses: julia-actions/cache@v2
      - name: Configure doc environment
        working-directory: docs/
        shell: julia --project=. --color=yes {0}
        run: |
          using Pkg
          Pkg.develop(PackageSpec(path=".."))
          Pkg.instantiate()
      - uses: julia-actions/julia-buildpkg@v1

      - uses: julia-actions/julia-docdeploy@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
      - name: Run doctests
        working-directory: docs/
        shell: julia --project=. --color=yes {0}
        run: |
          using Documenter: DocMeta, doctest
          using MQDT
          DocMeta.setdocmeta!(MQDT, :DocTestSetup, :(using MQDT); recursive=true)
          doctest(MQDT)
